# Python virtual environment
cnn_pytorch_env/
# Python virtual environment
tf_denoising_env/
nlp-getting-started/
*.zip
rnn_env/
captioning/
data_raw/
transfer_learning/
data_binary/
*.h5

delivable2/
vocab.json

cats_dogs_dataset/